<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <!--bootstrap-->
    
</head>
<body>
    <div>
        <form role='form' method="POST">
            {% csrf_token %} 
            {%  bootstrap_form  form  layout='horizontal' %}
            <div>
                <button class="btn btn-sm btn-success" type="submit">GUARDAR</button>
            </div>
        </form>
    </div>
</body>
<!-- bootstrap -->
</html>